{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script type='text/javascript'>
  window.ENV = window.ENV || {};
  window.ENV['PUSHER_APP_KEY'] = '{{ pusher_app_key }}';
</script>

<script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<script type='text/javascript' src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />

<ul id='messages' class="list-unstyled">
</ul>

<form class="form-inline" action="{% url 'chat' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="message" class="control-label">Message</label>
    <input type="text" class="form-control" id="message" placeholder="Chat..">
  </div>
  <button type="submit" class="btn btn-default" id='ok'>OK</button>
</form>

{% endblock %}
