{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Welcome to the Lounge!
{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block js %}
  <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
  <script type='text/javascript'>
    window.ENV = window.ENV || {};
    window.ENV['PUSHER_APP_KEY'] = '{{ pusher_app_key }}';
  </script>
  <script type='text/javascript' src="{% static 'js/chat.js' %}"></script>
{% endblock %}
{% block content %}

<div class='panel panel-primary'>

  <div class='panel-heading'>
    Welcome to the Lounge!
  </div>
  <div class='panel-body'>

    <div class='row'>
      <div class='col-sm-8'>
        <div class='panel panel-default'>
          <ul id='messages' class="list-unstyled">
          </ul>
        </div>
      </div>
      <div class='col-sm-4'>
        <input type="text" class="form-control" id="username" readonly>
        <h4><span id='user-count'>0</span> people here</h4>
        <div class='panel panel-default'>
          <ul id='users' class='list-unstyled'>
          </ul>
        </div>
      </div>
    </div>

    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}

      <div class="input-group">
        <input type="text" class="form-control" id="message" autofocus placeholder="Chat...">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" id='ok' value='Send!' />
        </span>
      </div>
    </form>
  </div>

</div>

{% endblock %}
